body{

}

/*Barra navegacion y titulo*/
nav{
    background-color: #265741;
    height: 90px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

nav img{
    position: absolute;
    top: 5px;
    left: 50px;
}

#main-title{
    color: #0A0200;
    margin: 0 auto;
    font-size: 40px;
    font-family: "Stardos Stencil", serif;
    font-weight: 700; 
}

#boxing{
    color: #BD2B23;
}